@import "tailwindcss";


@theme {
  --color-brand-dark: #003153;
  --color-brand-green: #57b31a;
  --color-brand-orange: #ffaa00;
  --color-brand-cyan: #5fb0b7;
  --color-brand-gray: #d5d9d9;
  --color-brand-slate-bg: #c2d2e1;
  --font-sans: var(--font-montserrat), sans-serif;
  --font-spartan: var(--font-spartan), sans-serif;
}